.day {
  outline: 1px solid rgba(15, 15, 15, .8);
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  font-size: 13px;
  font-family: 'Abel';
  color: black;
  font-weight: bold;
}

.day-hour {
  outline: 1px solid rgba(15, 15, 15, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(42,91,200,1) 100.2% );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
