.days-schedule {
  display:grid;
  grid-template-columns: repeat(8,1fr);
  color:black;
  font-family: 'Tenali Ramakrishna';
}

.day-schedule {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  font-size: 13px;
}

.day-schedule-item {
  outline: 1px solid rgba(15, 15, 15, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}