.horario {
  outline: 2px solid rgba(5, 5, 5, .8);
  display: grid;
  height: 100%;
  text-align: center;
  grid-template-columns: 14% 86%;
  grid-template-rows: 1fr 8fr;
  /* background: #f0a500; */
  background: radial-gradient( circle farthest-corner at 2.3% 19.3%,  rgba(180,180,180,.9) 0%, rgba(240,240,240,.9) 100.2% );
  /* background-color: gray; */
}
