.grid-active {
  /* background-color: #035aa6; */
  /* background: rgba(240, 165, 0, 0.7); */
  background-image: linear-gradient(
    110.3deg,
    rgba(72, 85, 99, 1) 8.8%,
    rgba(126, 136, 146, 0.897) 95.1%
  );
  /* background-image: none; */
  /* background-clip: content-box; */
  font-weight: bold;
  
  -webkit-text-fill-color: rgba(12, 170, 255, 1);
}
.day-schedule.grid-active {
  grid-column: span 2;
  /* width: 1.5fr */
  font-size: 15px;
}

.day-title.grid-active {
  /* color: gray; */
  /* background-image: none; */
  grid-column: span 2;
  background-image: linear-gradient(
    110.3deg,
    rgba(72, 85, 99, 1) 8.8%,
    rgba(126, 136, 146, 0.897) 95.1%
  );
  background-clip: content-box;
  -webkit-text-fill-color: rgba(12, 170, 255, 1);
}
