.main-container2 {
  display: grid;
  grid-template-rows: 20px auto;
  align-content: center;
  justify-content: center;
  grid-gap: 10px;
  text-align: center;
}

.description-video {
  border: 1px solid gray;
}

.video-box {
  border: 1px solid lightblue;
}