/* .inicio {
  border: 1px brown solid;
  background: url('../../../../assets/imageseymreact/Poster_Casting2.jpg');
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.inicio:hover {
  background: url('../../../../assets/imageseymreact/Poster_Casting2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: opacidad;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */

.inicio {
  max-height: 100%;
  max-width: 100%;
}

@keyframes opacidad{
  0% {
    opacity: 0;
  }
  10% {
    opacity: .45;
  }
  20% {
    opacity: .65;
  }
  30% {
    opacity: .85;
  }
  45% {
    opacity: 1;

  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.inicio-arrow {
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}