.reseñas {
  /* outline: 1px solid red; */
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 20px;
  color:black;
  margin: 9% 20px 5%;
}

.reseña-user {
  outline:1px solid gray;
}

.randomuser {
  /* border: 2px solid red; */
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.randomuser-image {
  width: 100px;
  height: 100px;

}

.randomuser-image img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

