.arrow-container {
  position: fixed;
  /* border: 1px solid red; */
  /* color: black; */
  top: 44vh;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  /* background-color: rgba(255,194,48); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-container.right {
  right: -19px;
  animation-name: right;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.arrow-container.left {
  animation-name: left;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  left: -19px;
}

.icon-keyboard_arrow_right {
  font-size: 60px;
}

.icon-keyboard_arrow_left {
  font-size: 60px;
}

@keyframes right {
  0% {
    right:-15px;
  }
  50% {
    right:-17px;
  }
  100% {
    right:-19px;
  }
}

@keyframes left {
  0% {
    left:-15px;
  }
  50% {
    left:-17px;
  }
  100% {
    left:-19px;
  }
}