.profesores {
  display:grid;
  /* grid-template-columns: auto 8px; */
  grid-gap: 3px;
  position: relative;
  margin:0 15px;
  height: 100%;
}

.div-container-profesor-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  padding: 4px;
  /* position: relative; */
  /* width: 500px; */
}

.div-container-profesor-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  padding: 4px;
  
}

.div-container-profesor-3 .div-profesor:nth-child(1) {
  grid-column: 2 / 4;
}

.div-container-profesor-3 .div-profesor:nth-child(2) {
  grid-column: 1 / 3;

}

.div-container-profesor-3 .div-profesor:nth-child(3) {
  grid-column: 3 / 5;
}

.div-container-profesor-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 4px;
  padding: 100px 30px;
}

.div-container-profesor-1 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 4px;
  padding: 100px 60px;
}

.div-profesor {
  /* border: 1px solid red; */
  padding: 5px;
}

.div-profesor img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.div-profesor img:hover {
  box-shadow: 0 0 5px 5px rgba(85, 88, 218, 0.5);
  border: 2px solid rgba(85, 88, 218, 0.7);
}
