.profile-profesor {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 5fr calc(25%);
  z-index: 2;
  max-width: 85%;
  background-color: gray;
  border-radius: 10px;
  top: 10%;
  color: #fff;
  height: 80%;
  left: 10%;
  right: 10%;
  box-shadow: 0 0 5px 10px rgba(85, 88, 218, 0.5);
}

.profile-title {
  /* grid-column: 1 / 3; */
  display: grid;
  grid-template-columns: auto 30px;
  /* border: 1px solid red; */
  align-items: center;
  text-align: center;
  font-family: 'Lato';
}

.profesor-image {
  display:grid;
  grid-template-columns: 80% 20%;
}

.profesor-image img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 100%;
}

.profesor-socialmedia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  margin: 15px 0;
  font-size: 25px;
}

.profesor-description {
  display: grid;
  grid-row: repeat(3, 1fr);
  padding:5px 8px;
  font-size: 14px;
  font-family: 'Lato';
}

.x {
  font-size: 20px;
}