.login {
  /* outline: 1px solid gray; */
  height: 100%;
  margin-top: 10px;
  display: flex;
}

.form-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 10px auto;
  font-family: 'Lato';
}
.form-button:focus {
  outline:none;
}