.register-form {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 20px 8px;
  color: #fff;
  /* max-height: 100%; */
  /* min-height: 700px; */
  /* width: 300px; */
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 50.5%,
    rgba(85, 88, 218, 0.8) 0%,
    rgba(95, 209, 249, 0.8) 100.2%
  );
}

.register-form fieldset {
  border-style: none;
  /* height: 100%; */
  width: 90%;
  display: flex;
  /* justify-content: space-around; */
  margin: 0px;
  padding: 0;
  /* margin-inline-start: none; */
  /* flex-direction: column; */
  vertical-align: middle;
  line-height: 45px;
}

.register-form fieldset input {
  margin: 0;
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #fff;
  padding-left: 20px;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 30px;
  padding: 0px 20px;
  outline: none;
  width: 90%;
  height: 50px;
}

.register-form fieldset input::placeholder {
  color: white;
}

.register-form fieldset legend {
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 44.5%,
    rgba(116, 147, 179, 1) 0%,
    rgba(62, 83, 104, 1) 0.2%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
}
