.register-form {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 10px 8px;
  color: #fff;
  /* max-height: 100%; */
  /* min-height: 700px; */
  /* width: 300px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 50.5%,
    rgba(85, 88, 218, 0.8) 0%,
    rgba(95, 209, 249, 0.8) 100.2%
  );
}

.title-form__container {
  position: relative;
  width: 100%;
}

.title-form__container h3 {
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 44.5%,
    rgba(116, 147, 179, 1) 0%,
    rgba(62, 83, 104, 1) 0.2%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  /* padding: 10px 0; */
  font-size: 25px;
  
}

.form-register {
  /* padding-top: 4px; */
  font-size: 25px;
  top: 7px;
  left: 15px;
  /* right:0; */
  color:gray;
  position: absolute;
}

/* .register-form fieldset {
  border-style: none;
  width: 90%;
  display: flex;
  
  margin: 0px;
  padding: 0;
  
  
  vertical-align: middle;
  line-height: 45px;
} */

.register-form input {
  margin: 0;
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #fff;
  padding-left: 20px;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0px 20px;
  outline: none;
  width: 90%;
  height: 50px;
}

.register-form input::placeholder {
  color: white;
}

.form-register-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}