.description-video {
  /* border: 1px solid gray; */
  text-align: center;
  color: black;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  animation-name: title;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.14, 0.16, 1, 0.02);
  background-image: linear-gradient(
    110.3deg,
    rgba(72, 85, 99, 1) 8.8%,
    rgba(127, 146, 166, 1) 95.1%
  );
  transition: 1s;
}

.arrow-description {
  font-size: 20px;
  padding: 10px;
  color: gray;
}

.description-video h3 {
  margin-right: 10%;
  font-size: 23px;
}

@keyframes title {
  0% {
    background-image: radial-gradient(
      circle farthest-corner at 0.3% 0.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  10% {
    background-image: radial-gradient(
      circle farthest-corner at 10.3% 20.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  20% {
    background-image: radial-gradient(
      circle farthest-corner at 30.3% 20.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  30% {
    background-image: radial-gradient(
      circle farthest-corner at 50.3% 20.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  40% {
    background-image: radial-gradient(
      circle farthest-corner at 70.3% 20.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  50% {
    background-image: radial-gradient(
      circle farthest-corner at 90.3% 20.5%,
      rgba(116, 147, 179, 1) 0%,
      rgba(62, 83, 104, 1) 100.2%
    );
  }
  70% {
    background-image: linear-gradient(
      110.3deg,
      rgba(72, 85, 99, 1) 8.8%,
      rgba(127, 146, 166, 1) 95.1%
    );
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
    transform: scale(1.1)
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
