.generos {
  height: calc(100% - 10px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
  text-align: center;
  /* align-items: center; */
  /* align-content: center; */
  padding-top:10px;
  /* background-color: rgba(7, 11, 19, 0.966); */
}