.videos {
  display: grid;
  grid-template-rows: 40px auto;
  height: 100%;
  border-bottom: 1px groove rgba(127, 146, 166, 1);
}

.videos-container {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-auto-rows: 200px;
  /* height: 350px; */
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  padding-top:5px;
}
