colors {
  /* letras de poster 1*/
  color: #06192b;
  color: #39789b;
  color: #428eb2;
  color: #6a9db7;
  
  /* letras de poster 2 */
  color: #f2ad23;
  color: #c78600;
  color: #c98600;
  color: #be8f4f;
  color: #755b2a;
  color: #c88f65;

  /* negros grises y blancos */
  color: #0b0c0e;
  color: #ceced0;
  color: #a3a3a5;
  color: #05080d;
  color: #999a9b;
  color: #3a3a3a;
  color: #fdfefe;
  color: #212224;
  color: #101415;
  
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  
  background-image: radial-gradient( circle 939px at 0.7% 2.4%,  rgba(116,106,255,1) 0%, rgba(221,221,221,1) 100.2% );
  
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
}