.menu {
  border: 1px solid blue;
  position: fixed;
  z-index: 3;
  padding: 0;
  height: 100vh;
  margin: 0px;
  right: -100vw;
  width: 25vh;
  padding-top:16px;
  transition: .5s;
}

.menu.is-active {
  right: 0;
  transition: .5s;
}
