.options {
  display: grid;
  list-style-type: none;
  grid-template-rows:  repeat(7, 60px);
  padding: 0;
  max-width: 100%;
  margin: 0px;
  z-index: 5;
}

.options li {
  /* border: 1px solid yellow; */
  /* background-image: linear-gradient( 109.6deg,  rgba(255,207,84,1) 11.2%, rgba(255,158,27,1) 91.1% ); */
  /* background-image: radial-gradient( circle 426px at 77.9% 31.3%,  rgba(255,229,131,1) 0%, rgba(249,119,0,1) 90% );
   */
  /* background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% ); */
  font-size: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.options li:hover {
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% )
}

/* li:nth-child(2) {
  background-image: radial-gradient( circle 939px at 0.7% 2.4%,  rgba(116,106,255,1) 0%, rgba(221,221,221,1) 100.2% );
}

li:nth-child(3) {
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

li:nth-child(4) {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
} */