.App {
  /* text-align: center; */
  border: 1px solid red;
  background-color: #05080d;
  min-height: 100vh;
  color:white;
  display: grid;
  grid-template-rows: auto 5fr minmax(45px, 90px);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


