.App {
  /* text-align: center; */
  /* border: 1px solid red; */
  background-color: rgba(225, 225, 225, 0.8);
  min-height: 100vh;
  color:white;
  display: grid;
  grid-template-rows: auto 1fr minmax(45px, 90px);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


