.footer-container {
  padding: 2px;
  padding-top: 4px;
  /* border: 1px solid yellow; */
  display: flex;
  grid-template-columns: 1fr 1fr;
  /* padding-top: 20px; */
  text-align: center;
  justify-content: space-around;
  align-items: center;

}

.footer-container a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:inherit;
}

.footer-container a:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:inherit;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(116,106,255,.4) 0%, rgba(95,209,249,1) 100.2% );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}